<a href="https://colab.research.google.com/github/shayekh00/Pandas-Exercises-For-Data-Manipulation./blob/master/Pandas_Exercises_For_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")
%cd "/content/drive/My Drive/Colab Notebooks/"

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks

In [0]:
import pandas as pd
import numpy as np

Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [5]:
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

Write a Python program to convert a Panda module Series to Python list and it's type

In [20]:
X= []
col_names= df.columns.unique()


for col in col_names:
  for i in range(0,df['X'].shape[0]):
    X.append(df[col][i])

print(X)

[78, 85, 96, 80, 86, 84, 94, 89, 83, 86, 86, 97, 96, 72, 83]

Write a Python program to add, subtract, multiple and divide two Pandas Series

In [0]:
col1=df['X']
col2=df['Y']

print(col1/col2)
print(col1 * col2)
print(col1 + col2)
print(col1 - col2)

Write a Python program to convert a dictionary to a Pandas series.

In [25]:
sample_dict= {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
new_series=pd.Series(sample_dict)
print(new_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

Write a Python program to convert a NumPy array to a Pandas series. Go to the editor.

In [26]:
np_array=[10,20,30,40,50]
new_series=pd.Series(np_array)
print(new_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Write a Python program to change the data type of given a column or a Series.

In [29]:
sample_dict= {'a': 100, 'b': 200, 'c': 'Pythuuunn', 'd': 400, 'e': 800}
new_series=pd.Series(sample_dict)

new_series= pd.to_numeric(new_series,errors='coerce')
new_series

a    100.0
b    200.0
c      NaN
d    400.0
e    800.0
dtype: float64

Write a Python Pandas program to convert the first column of a DataFrame as a Series

In [34]:
new_df= pd.DataFrame(np.random.rand(20,5))
new_series=pd.Series(new_df[0])
type(new_series)

pandas.core.series.Series

Write a Pandas program to convert a given Series to an array.

In [42]:
del X

X=[]
sample_dict2= {'a': 100, 'b': 200, 'c': 'Pythuuunn', 'd': 400, 'e': 800}
new_series2=pd.Series(sample_dict2)
for i in new_series2:
  X.append(i)

X

[100, 200, 'Pythuuunn', 400, 800]

Write a Pandas program to convert Series of lists to one Series.

In [47]:
list1=['Red', 'Green', 'White']
list2=['Red', 'Black', ]
list3=['Yellow']
new_series2=pd.Series([list1,list2,list3])
new_series2.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object