<a href="https://colab.research.google.com/github/shayekh00/Pandas-Exercises-For-Data-Manipulation./blob/master/Pandas_Exercises_For_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount("/content/drive")
%cd "/content/drive/My Drive/Colab Notebooks/"

In [0]:
import pandas as pd
import numpy as np

Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [3]:
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

Write a Python program to convert a Panda module Series to Python list and it's type

In [4]:
X= []
col_names= df.columns.unique()


for col in col_names:
  for i in range(0,df['X'].shape[0]):
    X.append(df[col][i])

print(X)

[78, 85, 96, 80, 86, 84, 94, 89, 83, 86, 86, 97, 96, 72, 83]

Write a Python program to add, subtract, multiple and divide two Pandas Series

In [5]:
col1=df['X']
col2=df['Y']

print(col1/col2)
print(col1 * col2)
print(col1 + col2)
print(col1 - col2)

0    0.928571
1    0.904255
2    1.078652
3    0.963855
4    1.000000
dtype: float64
0    6552
1    7990
2    8544
3    6640
4    7396
dtype: int64
0    162
1    179
2    185
3    163
4    172
dtype: int64
0   -6
1   -9
2    7
3   -3
4    0
dtype: int64

Write a Python program to convert a dictionary to a Pandas series.

In [6]:
sample_dict= {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
new_series=pd.Series(sample_dict)
print(new_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

Write a Python program to convert a NumPy array to a Pandas series. Go to the editor.

In [7]:
np_array=[10,20,30,40,50]
new_series=pd.Series(np_array)
print(new_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Write a Python program to change the data type of given a column or a Series.

In [8]:
sample_dict= {'a': 100, 'b': 200, 'c': 'Pythuuunn', 'd': 400, 'e': 800}
new_series=pd.Series(sample_dict)

new_series= pd.to_numeric(new_series,errors='coerce')
new_series

a    100.0
b    200.0
c      NaN
d    400.0
e    800.0
dtype: float64

Write a Python Pandas program to convert the first column of a DataFrame as a Series

In [9]:
new_df= pd.DataFrame(np.random.rand(20,5))
new_series=pd.Series(new_df[0])
type(new_series)

pandas.core.series.Series

Write a Pandas program to convert a given Series to an array.

In [10]:
del X

X=[]
sample_dict2= {'a': 100, 'b': 200, 'c': 'Pythuuunn', 'd': 400, 'e': 800}
new_series2=pd.Series(sample_dict2)
for i in new_series2:
  X.append(i)

X

[100, 200, 'Pythuuunn', 400, 800]

Write a Pandas program to convert Series of lists to one Series.

In [16]:
list1=['Red', 'Green', 'White']
list2=['Red', 'Black', ]
list3=['Yellow']
new_series2=pd.Series([list1,list2,list3])
new_series2.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Write a Pandas program to sort a given Series

In [0]:
new_series2= pd.Series([3,4,5,6,7,1,2])

In [0]:
new_series2=new_series2.sort_values()

Write a Pandas program to add some data to an existing Series.

In [42]:
s2=pd.Series(['php',500])
s2

0    php
1    500
dtype: object

In [47]:
new_series2=s2.append(new_series2)	
new_series2

0    php
1    500
5      1
6      2
0      3
1      4
2      5
3      6
4      7
dtype: object

Write a Pandas program to create a subset of a given series based on value and condition.

In [53]:
new_series2= pd.Series([3,4,5,6,7,1,2]).sort_values()
new_series2=new_series2[new_series2.values < 5]
new_series2

5    1
6    2
0    3
1    4
dtype: int64

Write a Pandas program to create the mean and standard deviation of the data of a given Series

In [55]:
print(new_series2.mean())
print(new_series2.std())

2.5
1.2909944487358056

Write a Pandas program to get the items of a given series not present in another given series.

In [59]:
new_series2= pd.Series([3,4,5,6,7,1,2])
new_series3= pd.Series([10,11,4,145,6,7,1,2])

new_idx= new_series3[~new_series3.isin(new_series2)]
new_idx

0     10
1     11
3    145
dtype: int64

Write a Pandas program to get the items which are not common of two given series

In [62]:
s3= new_series3[~new_series3.isin(new_idx)]
s2= new_series2[~new_series2.isin(new_idx)]
print(s2)
print(s3)

0    3
1    4
2    5
3    6
4    7
5    1
6    2
dtype: int64
2    4
4    6
5    7
6    1
7    2
dtype: int64

Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [63]:
s3.describe()

count    5.00000
mean     4.00000
std      2.54951
min      1.00000
25%      2.00000
50%      4.00000
75%      6.00000
max      7.00000
dtype: float64

Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [88]:
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))

num_series.value_counts().index[:1]

Int64Index([3], dtype='int64')

Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [89]:
result = num_series[~num_series.isin( num_series.value_counts().index[:1])  ] ='Others' 
result

'Others'

In [90]:
num_series

0          3
1          3
2     Others
3          3
4     Others
5     Others
6     Others
7          3
8          3
9          3
10         3
11    Others
12    Others
13    Others
14    Others
dtype: object