<a href="https://colab.research.google.com/github/shayekh00/Pandas-Exercises-For-Data-Manipulation./blob/master/Pandas_Exercises_For_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [122]:
from google.colab import drive
drive.mount("/content/drive")
%cd "/content/drive/My Drive/Colab Notebooks/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks

In [0]:
import pandas as pd
import numpy as np

Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [124]:
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

Write a Python program to convert a Panda module Series to Python list and it's type

In [125]:
X= []
col_names= df.columns.unique()


for col in col_names:
  for i in range(0,df['X'].shape[0]):
    X.append(df[col][i])

print(X)

[78, 85, 96, 80, 86, 84, 94, 89, 83, 86, 86, 97, 96, 72, 83]

Write a Python program to add, subtract, multiple and divide two Pandas Series

In [126]:
col1=df['X']
col2=df['Y']

print(col1/col2)
print(col1 * col2)
print(col1 + col2)
print(col1 - col2)

0    0.928571
1    0.904255
2    1.078652
3    0.963855
4    1.000000
dtype: float64
0    6552
1    7990
2    8544
3    6640
4    7396
dtype: int64
0    162
1    179
2    185
3    163
4    172
dtype: int64
0   -6
1   -9
2    7
3   -3
4    0
dtype: int64

Write a Python program to convert a dictionary to a Pandas series.

In [127]:
sample_dict= {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
new_series=pd.Series(sample_dict)
print(new_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

Write a Python program to convert a NumPy array to a Pandas series. Go to the editor.

In [128]:
np_array=[10,20,30,40,50]
new_series=pd.Series(np_array)
print(new_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Write a Python program to change the data type of given a column or a Series.

In [129]:
sample_dict= {'a': 100, 'b': 200, 'c': 'Pythuuunn', 'd': 400, 'e': 800}
new_series=pd.Series(sample_dict)

new_series= pd.to_numeric(new_series,errors='coerce')
new_series

a    100.0
b    200.0
c      NaN
d    400.0
e    800.0
dtype: float64

Write a Python Pandas program to convert the first column of a DataFrame as a Series

In [130]:
new_df= pd.DataFrame(np.random.rand(20,5))
new_series=pd.Series(new_df[0])
type(new_series)

pandas.core.series.Series

Write a Pandas program to convert a given Series to an array.

In [131]:
del X

X=[]
sample_dict2= {'a': 100, 'b': 200, 'c': 'Pythuuunn', 'd': 400, 'e': 800}
new_series2=pd.Series(sample_dict2)
for i in new_series2:
  X.append(i)

X

[100, 200, 'Pythuuunn', 400, 800]

Write a Pandas program to convert Series of lists to one Series.

In [132]:
list1=['Red', 'Green', 'White']
list2=['Red', 'Black', ]
list3=['Yellow']
new_series2=pd.Series([list1,list2,list3])
new_series2.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Write a Pandas program to sort a given Series

In [0]:
new_series2= pd.Series([3,4,5,6,7,1,2])

In [0]:
new_series2=new_series2.sort_values()

Write a Pandas program to add some data to an existing Series.

In [135]:
s2=pd.Series(['php',500])
s2

0    php
1    500
dtype: object

In [136]:
new_series2=s2.append(new_series2)	
new_series2

0    php
1    500
5      1
6      2
0      3
1      4
2      5
3      6
4      7
dtype: object

Write a Pandas program to create a subset of a given series based on value and condition.

In [137]:
new_series2= pd.Series([3,4,5,6,7,1,2]).sort_values()
new_series2=new_series2[new_series2.values < 5]
new_series2

5    1
6    2
0    3
1    4
dtype: int64

Write a Pandas program to create the mean and standard deviation of the data of a given Series

In [138]:
print(new_series2.mean())
print(new_series2.std())

2.5
1.2909944487358056

Write a Pandas program to get the items of a given series not present in another given series.

In [139]:
new_series2= pd.Series([3,4,5,6,7,1,2])
new_series3= pd.Series([10,11,4,145,6,7,1,2])

new_idx= new_series3[~new_series3.isin(new_series2)]
new_idx

0     10
1     11
3    145
dtype: int64

Write a Pandas program to get the items which are not common of two given series

In [140]:
s3= new_series3[~new_series3.isin(new_idx)]
s2= new_series2[~new_series2.isin(new_idx)]
print(s2)
print(s3)

0    3
1    4
2    5
3    6
4    7
5    1
6    2
dtype: int64
2    4
4    6
5    7
6    1
7    2
dtype: int64

Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [141]:
s3.describe()

count    5.00000
mean     4.00000
std      2.54951
min      1.00000
25%      2.00000
50%      4.00000
75%      6.00000
max      7.00000
dtype: float64

Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [142]:
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))

num_series.value_counts().index[:1]

Int64Index([3], dtype='int64')

Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [143]:
result = num_series[~num_series.isin( num_series.value_counts().index[:1])  ] ='Others' 
result

'Others'

In [144]:
num_series

0     Others
1     Others
2     Others
3          3
4          3
5     Others
6          3
7     Others
8          3
9     Others
10    Others
11    Others
12         3
13    Others
14         3
dtype: object

Write a Pandas program to extract items at given positions of a given series.

In [145]:
num_series.iloc[5:]

5     Others
6          3
7     Others
8          3
9     Others
10    Others
11    Others
12         3
13    Others
14         3
dtype: object

Write a Pandas program to get the positions of items of a given series in another given series.

In [146]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print("Original Series:")
print(series1)
print(series2)
result = [pd.Index(series1).get_loc(i) for i in series2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

Capitalizing Every letter in a series

In [150]:
num_series= num_series.str.capitalize()
num_series

0     Others
1     Others
2     Others
3        NaN
4        NaN
5     Others
6        NaN
7     Others
8        NaN
9     Others
10    Others
11    Others
12       NaN
13    Others
14       NaN
dtype: object

Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [151]:
print(series1.diff().tolist)

<bound method IndexOpsMixin.tolist of 0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64>

Write a Pandas program to get the day of month, **day of year**, week number and day of week from a given series of date strings.

In [161]:
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(date_series)
date_series= date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
print("Week number:")
print(date_series.dt.weekofyear.tolist())

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]

Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [163]:
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
result = date_series.map(lambda d: parse('11 ' + d))
print(result)

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]